.swiper-pagination-bullet {
    width: 5vw;
    height: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    border-radius: 2px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #60a5fa;
}